/* HARD WORK HAS BEEN PUT TO THIS PAGE SO PLEASE EDIT CAREFULLY  */

/* From here and below is Mobile first style until it mentions otherwise */
#aboutustext {
    text-align: left;
    margin: auto;
    font-size: 20px;
    width: 100%;
    background-color: #F6f6f6;
    padding: 2px;
    font-family: 'Bellota', cursive;
}
/* settings for the whole Table,Header and About Us tabs */
#LayOutTable{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border: 5px white;
    align-content: center;
    margin: auto;
}

#Header{
    font-size: 45px;
    color: white;
    font-family: 'Bellota', cursive;
    text-shadow: 4px 4px rgb(21, 8, 34);
}

#AboutUs{
    text-align: left;
    margin: 2px;
}

a:link{
    color: black;
}

.hover-color {
    border-radius: 5%;
    font-family: 'Bellota', cursive;
}

.hover-color:hover {
    background-color: rgba(102, 102, 102, 0.801);
}

.info-hover:hover{
    color: rgba(9, 94, 221, 0.801);
}

a:visited{
    color: black;
}
a{
    text-decoration: none;
}

/* styling and positioning for the figures and names */
.container {
    background: #f6f6f6;
    overflow-y: auto;
}

figure {
    margin-left: -2.5em;
}

figcaption {
    padding-top: 0.5em;
    margin-left: 3.5em;
    cursor: pointer;
}

.name3 {
    margin-left: 1.5em;
}
.container ul {
    list-style-type: none;
  }

  /* rounded photo corners */
.rounded {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(20, 90, 120);
    cursor: pointer;
}

/* drop down menu when hovering over the names */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content li:hover {
      background-color: #ddd;
    }
  .photo:hover .dropdown-content {
      display: block;
    }

/* how elements should look from 650px to 1024px devices */
    @media screen and (min-width: 650px) {

        #LayOutTable{
            width: 90%;
        }

        #aboutustext {
            text-align: left;
            margin: 0 auto;
            padding: 2px;
            }

    
        .container img {
            width: 250px;
            height: 250px;
        }
        
        .container ul {
            display: flex;
            align-items: center;
            margin-left: -4.5em;
            flex-wrap: wrap;
        }
        
        body .container {   
            width: 100%;
        }
        
        .contaier ul li {
            font-size: 20%;
        }

        figure {
            margin-left: 2.5em;
        }

        figcaption {
            text-align: center;
            padding-top: 1em;
            margin-left: auto;
        }

        .name3 {
            margin-left: auto;
        }

        .photo-text {
            text-align: center;
        }

    }
    
    /* how elements should look above 1024px devices */
    @media screen and (min-width: 1024px) {
        
        #LayOutTable{
            width: 80%;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
        }
    
        .container img {
            width: 25%vw;
            height: 25%vw;
            margin-top: 90px;
        }
        
        .container ul {
            display: flex;
            align-items: center;
            margin-left: -4.5em;
        }
        
        figure {
            margin-left: 2.5em;
        }


        figcaption {
            text-align: center;
            padding-top: 1em;
        }

        .photo-text {
            text-align: center;
        }

    }

/* Sticky men bar code */
    .hover-color {
        height: 50px;
        text-align: center;
        color: white;
        background-color: rgba(80, 144, 163, 0.836);
        position: sticky;
        top: 0;
    }
/* styles for our contact us */
    input[type=submit] {
        background-color: #45a049;
        color: white;
        padding: 12px 20px;
        border-radius: 4px;
    
      }
    
      input[type=text],textarea {
        width: 100%; 
        padding: 10px;  
        border: 1px solid #ccc; 
        border-radius: 4px; 
        border-color :rgba(80, 144, 163, 0.836);
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
      }
    
      
      .white-container {
        border-radius: 5px;
        background-color: #F6f6f6;
        padding: 10px;
        width: 50%;
      }

      /* code for tarzan animation over the header */
      .tarzan {
          position: absolute;
          left: -20%;
          top: 0;
          height: 160px;
          width: 200px;
          animation-duration: 7s;
          animation-name: animateTarzan;
          z-index: 1;
          animation-delay: 1s;
      }

      @keyframes animateTarzan {
          from {
              left: -10%;
          }
          to {
              left: 100%;
          }
      }

